@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");

:root {
  --main-color: ;
  --font: "Raleway", sans-serif;
}

body {
  font-family: var(--font);
  background-color: var(--main-color);
  display: grid;
  place-content: center;
  margin: 0;
  transition: all 1s;
  height: 100vh;
}

#quote-box {
  width: 480px;
  background-color: white;
  padding: 30px;
}

#text,
#author {
  color: var(--main-color);
  transition: all 500ms;
}

#text {
  font-size: 1.7rem;
  text-align: center;
}

.fa-quote-left {
  margin-right: 10px;
}

#author {
  text-align: end;
  font-size: 0.925rem;
  margin: 30px 0;
}

.socials {
  display: flex;
  gap: 5px;
}
.socials .btn {
  width: 20px;
  font-size: 1rem;
  height: 20px;
  display: grid;
  place-content: center;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: var(--main-color);
  border-radius: 5px;
  border: 0;
  font-size: 0.925rem;
  padding: 10px;
  color: white;
  transition: all 1s;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.credit {
  text-align: center;
  color: white;
  font-size: 0.925rem;
}
